.user-attention {
  padding: 30px 20px 10px;
  background-color: #1d70b8;
  color: #ffffff;
  margin-bottom: 30px;

 .heading-small {
    margin-top: 0;
 }
}

.page-header .heading-secondary {
  color: #6f777b;
  display: table-header-group;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0;
  text-transform: none;
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}

.govuk-check-your-answers ul {
    list-style: disc;
}

.form-hint-char-count {
  font-family: "nta",Arial,sans-serif;
  text-transform: none;
  color: #6f777b;
  font-weight: normal;
  margin-top: 1px;
  padding-bottom: 2px;
}

.govuk-error-message.govuk-character-count__message {
  color: #d4351c;
  font-weight: bold;
}

.govuk-textarea.form-control.form-control--full-width {
  width: 100%;
  margin-bottom: 5px;
}

.govuk-textarea--error.form-control--full-width {
  border: 4px solid #d4351c;
}

.govuk-character-count .form-hint {
  padding: unset;
  margin: 5px 0;
}

.govuk-character-count .error-message {
  padding: unset;
  margin-bottom: 10px;
}