.user-attention {
  padding: 30px 20px 10px;
  background-color: #1d70b8;
  color: #ffffff;
  margin-bottom: 30px;

 .heading-small {
    margin-top: 0;
 }
}

.page-header .heading-secondary {
  color: #6f777b;
  display: table-header-group;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0;
  text-transform: none;
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}

.govuk-check-your-answers ul {
    list-style: disc;
}

.form-hint {
  margin-top: 1px;
}
